/* app css stylesheet */
body .menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
body .menu:before {
  content: "[";
}
body .menu:after {
  content: "]";
}
body .menu > li {
  display: inline;
}
body .menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
body .menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
